# Database
DATABASE_URL=postgres://postgres:postgres@localhost:5432/ben

# Auth
JWT_SECRET=your_jwt_secret_here
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Stripe Keys
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key_here
STRIPE_SECRET_KEY=your_stripe_secret_key_here
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret_here

# Vercel Cron Secret (auto-sent by Vercel for cron invocations)
CRON_SECRET=your_cron_secret_here

# Mapbox Key
NEXT_PUBLIC_MAPBOX_KEY=your_mapbox_key_here

# Site
NEXT_PUBLIC_SITE_URL=https://www.blockchainedu.org

# Analytics
NEXT_PUBLIC_GA_UA_ID=UA-XXXXXXXXX-X
NEXT_PUBLIC_GA_4_ID=G-XXXXXXXXXX
NEXT_PUBLIC_FB_PIXEL_ID=000000000000000
NEXT_PUBLIC_CRAZYEGG_ID=0000/0000


# Donations
NEXT_PUBLIC_PAYPAL_BUTTON_ID=XXXXXXXXXXXXX
NEXT_PUBLIC_COINBASE_CHECKOUT_ID=00000000-0000-0000-0000-000000000000

# Bundle Analyzer (optional)
ANALYZE=false