/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

:root {
  --orange: #FF936B;
}

.bg-orange {
  background-color: var(--orange);
}
.bg-gray {
  background-color: #F5F7F7;
}
.text-orange {
  color: var(--orange);
}

.z-1 {
  z-index: 1;
}

#gift-grid {
  grid-gap: 2rem;
}

#gift-frequency div {
  padding: .5rem;
}

.donation-slider-track {
  background: #d3d3d3; /* Grey background */
  width: 100%;
  height: 3px;
  top: 1.2rem;
}
/* The slider itself */
#donation-slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  background: transparent;
  width: 100%; /* Full-width */
  height: 3px; /* Specified height */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  position: relative;
}

.donation-slider-cover {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--orange);
  background-color: white;
  border: 1px solid ghostwhite;
  border-radius: 9999px;
  position: absolute;
  top: 0;
  min-width: 5rem;
  text-align: center;
  cursor: ew-resize;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.donation-slider-cover .left-arrow {
  color: gray;
}

.donation-slider-cover .right-arrow {
  color: black;
}

/* Mouse-over effects */
#donation-slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

#donation-slider:focus-visible {
  outline: none;
}

#donation-slider::-webkit-slider-thumb:focus-visible {
  outline: none;
}

#donation-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 5rem;
  height: 2.5rem;
  background: transparent;
  cursor: ew-resize; /* Cursor on hover */
  position: relative;
}

#donation-slider::-moz-slider-thumb:focus-visible {
  outline: none;
}

#donation-slider::-moz-range-thumb {
  width: 5rem;
  height: 2.5rem;
  background: transparent;
  cursor: ew-resize; /* Cursor on hover */
  padding: 1.25rem 2.5rem;
  position: relative;
}

.popup {
  background: #00baff !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  cursor: pointer;
}

.marker {
  background: #00baff !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .popup-video-frame {
    min-height: 27rem;
    height: 100%;
  }
}

@media only screen and (max-width: 599px) {
  .popup-video-frame {
    min-height: 45vw;
    height: 100%;
  }
}

.what-is-section {
background-image: url('/images/ben-why-bg.svg');
background-repeat: no-repeat;
background-size: 100%;
background-position: top center;
}

@media only screen and (max-width: 780px) {
  .what-is-section {
    background-image: none !important;
  }
}

.impact-section {
background-image: url('/images/impact-bg-icon.png');
background-repeat: no-repeat;
background-position: top right;
}

#about-page .navdropdown {
  color: #000;
}

#about-page .navdropdown:hover {
  color: #FF936B;
}

.monday-form {
  max-width: 100%;
  width: 900px;
  height: 900px;
  max-height: 100%;
}

.monday-form--contact {
  max-width: 100%;
  width: 900px;
  height: 800px;
  max-height: 100%;
  border-radius: .75rem;
}

.what-is-learn-blurb {
  max-width: 360px;
}

.get-involved-split {
  background: url("/images/get-involved-split-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.get-involved-bg {
  background: url("/images/get-involved-orange-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media only screen and (max-width: 780px) {
  .what-is-learn-blurb {
    max-width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .get-involved-bg {
    background: none;
  }
}

@media only screen and (max-width: 1024px) {
  .get-involved-split {
    background: none;
  }
}

.home-header {
  background: url("/images/home-header-dual-illustration.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

@media only screen and (max-width: 780px) {
  .home-header {
    background:none;
  }
}

.join-footer-button {
  padding: 1rem 3.3rem;
}

#about-page .menu-dropdown {
  color: #fff !important;
}

.about-illustration {
  max-width: 900px !important;
  width: 900px !important;
}

@media only screen and (max-width: 768px) {
  .about-illustration {
    max-width: 100% !important;
    width: 100% !important;
  }
}

.flip-card {
  background-color: transparent;
  width: 263px;
  height: 340px;
  margin: 0 auto;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
  /* transform: rotateY(0deg); */
}

/* Style the back side */
.flip-card-back {
  background-color: #E0E0E0;
  transform: rotateY(180deg);
}

.button-overlay {
  margin-top: 0 !important;
}

.social-icon {
    margin-right: 1.2rem;
}

#about-page .mobile-dropdown {
  color: #fff;
}

h1, h2 {
  line-height: 1.3em !important;
}

.subscribe-form input {
  border: 1px solid #CCCCCC;
  border-radius: 100px;
  padding: .75rem;
  margin: 0 1rem 3rem 0;
}

.subscribe-form button {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 18px;
  background-color: #FF936B;
  color: #fff;
  padding: .75rem 2rem;
  border-radius: 100px;
  box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.08);
  transition-duration: 500ms;
}

.subscribe-form button:hover {
  background-color: #9FA9B9;
}

.about-header {
    background: linear-gradient(181.36deg, #FF5E36 1.16%, #FFA381 98.86%);
    margin-top: -7rem;
}
.social-icons {
  display: inline-flex;
  margin: 0 auto;
}

.social-icons a {
  padding: 0 5px;
}

@media only screen and (max-width: 560px) {
  .flip-card:hover .flip-card-inner {
    transform: rotateY(0deg);
  }
  .flip-card.hover .flip-card-inner {
    transform: rotateY(180deg);
  }
}

@media only screen and (max-width: 800px) {
  .subscribe-form input {
    margin: 0 0 2rem 0;
  }
}

@media only screen and (max-width: 1050px) {
  .about-header {
    margin-top: -12rem;
  }
}

.donation-modal {
    padding: 1rem !important;
}

.what-is-ben {
  max-width: 52rem;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
