/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

:root {
  --orange: #FF936B;
  --swiper-navigation-color: #FF936B;
  --swiper-pagination-color: #FF936B;
  --swiper-theme-color: #FF936B;
}

.overlay-popup-container {
  background: rgba(32, 32, 32, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay-popup {
  max-width: 1000px;
  min-width: 300px;
  width: 90%;
  position: relative;
}

.overlay-popup-close:hover {
  cursor: pointer;
}

.aspect-square {
  aspect-ratio: 1 / 1;
}

.header.scrolled {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.header.scrolled.white-header {
  background-color: white;
}

.header.orange-header, .header.scrolled.orange-header {
  background-color: #FF5E36;
}

.header.scrolled nav {
  display: flex;
}

.header.scrolled .hidden-on-scroll {
  display: none;
}

.header.scrolled .display-on-scroll {
  display: block;
}

@media (max-width: 1023px) {
  .header li > a:not(#always-visible-menu-button), .header li > div {
    visibility: hidden;
  }
  .header #headlessui-popover-panel-2 li > a, .header #headlessui-popover-panel-2 li > div {
    visibility: visible;
  }
  .header.orange-header #headlessui-popover-panel-2 li a, .header.orange-header #headlessui-popover-panel-2 li button {
    color: black;
  }
  .header.scrolled {
    padding-bottom: 0.5rem;
    padding-top: 1.5rem;
  }
}

.bg-orange {
  background-color: var(--orange);
}

.bg-gray {
  background-color: #F5F7F7;
}

.text-orange {
  color: var(--orange);
}

.grow {
  flex-grow: 1;
}

.z-1 {
  z-index: 1;
}

#gift-grid {
  grid-gap: 2rem;
}

#gift-frequency div {
  padding: .5rem;
}

#student-story .mapboxgl-marker-image {
  max-height: none !important;
}

.donation-slider-container {
  min-height: 80px;
}

.donation-slider-track {
  background: #d3d3d3;
  /* Grey background */
  width: 100%;
  height: 3px;
  top: 1.2rem;
}

/* The slider itself */
#donation-slider {
  outline: none !important;
  -webkit-appearance: none !important;
  /* Override default CSS styles */
  appearance: none !important;
  background: transparent;
  width: 100%;
  /* Full-width */
  height: 3px;
  /* Specified height */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  position: relative;
}

.donation-slider-cover {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--orange);
  border: 1px solid ghostwhite;
  border-radius: 9999px;
  position: absolute;
  top: 0;
  min-width: 5rem;
  text-align: center;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  -webkit-appearance: none !important;
}

/* Mouse-over effects */
#donation-slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

#donation-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 5rem;
  height: 2.5rem;
  background: transparent;
  cursor: ew-resize;
  /* Cursor on hover */
  position: relative;
  border: 0 !important;
  outline: none !important;
}

#donation-slider::-moz-range-thumb {
  width: 5rem;
  height: 2.5rem;
  background: transparent;
  cursor: ew-resize;
  /* Cursor on hover */
  padding: 1.25rem 2.5rem;
  position: relative;
  border: 0 !important;
  outline: none !important;
}

#home-map {
  width: 100vw;
  max-width: 100vw;
}

#home-map>div {
  height: 100%;
}

#home-map div {
  max-width: 100vw;
}

.map-container {
  height: 100% !important;
  max-height: 90vh;
}

.map-container>div {
  min-width: 100%;
  min-height: 100%;
  height: inherit !important;
  max-height: 100%;
}

.mapboxgl-marker-overlay.selected {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.mapboxgl-marker {
  z-index: 1;
}

.mapboxgl-popup {
  width: 100%;
  height: 100%;
  position: relative !important;
  left: unset !important;
  transform: none !important;
  z-index: 2;
}

.mapboxgl-popup-content {
  display: flex;
  flex-grow: 1;
  padding: 20px 20px 30px !important;
}

.mapboxgl-popup-content h1 {
  margin-bottom: 1rem;
}

.mapboxgl-popup.video {
  max-width: 80rem !important;
  max-height: unset !important;
}

.mapboxgl-popup .swiper-slide {
  min-height: 317px;
}

.mapboxgl-popup .swiper-slide-vimeo>div {
  width: 100%;
}

.mapboxgl-popup .mapboxgl-popup-tip {
  display: none;
}

. mapboxgl-popup .mapboxgl-popup-content {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 80vh;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  border-radius: 0.375rem;
  padding: 26px 26px 31px 26px;
}

.mapboxgl-popup-close-button {
  width: 36px;
  height: 36px;
  border-radius: 50% !important;
  background-color: #f5f7f7 !important;
  right: 0.5rem !important;
  top: 0.5rem !important;
  font-size: 1.2rem;
  font-family: Arial;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.swiper.video-slide .swiper-pagination {
  display: none;
}

.swiper-slide-vimeo iframe {
  flex-grow: 1;
  min-height: 400px;
  height: 30vh;
  margin-bottom: -5.25rem;
}

#student-story .swiper-slide-vimeo iframe {
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.mapboxgl-marker-image {
  max-height: 30vh;
  width: auto !important;
}

.popup {
  background: #00baff !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  cursor: pointer;
}

.marker {
  background: #00baff !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .popup-video-frame {
    min-height: 27rem;
    height: 100%;
  }
}

@media only screen and (max-width: 599px) {
  .popup-video-frame {
    min-height: 45vw;
    height: 100%;
  }
}

.what-is-section {
  background-image: url('/images/ben-why-bg.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
}

@media only screen and (max-width: 780px) {
  .what-is-section {
    background-image: none !important;
  }
}

.pin-popup {
  max-width: 800px !important;
  height: 550px;
  border: none !important;
}

@media only screen and (max-width: 980px) {
  .pin-popup {
    transform: translateX(0) !important;
  }
}

.impact-section {
  background-image: url('/images/impact-bg-icon.png');
  background-repeat: no-repeat;
  background-position: top right;
}

#about-page .navdropdown {
  color: #000;
}

#about-page .navdropdown:hover {
  color: #FF936B;
}

.monday-form {
  max-width: 100%;
  width: 900px;
  height: 900px;
  max-height: 100%;
}

.monday-form--contact {
  max-width: 100%;
  width: 900px;
  height: 800px;
  max-height: 100%;
  border-radius: .75rem;
}

.what-is-learn-blurb {
  max-width: 360px;
}

.get-involved-split {
  background: url("/images/get-involved-split-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.get-involved-bg {
  background: url("/images/get-involved-orange-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media only screen and (max-width: 780px) {
  .what-is-learn-blurb {
    max-width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .get-involved-bg {
    background: none;
  }
}

@media only screen and (max-width: 1024px) {
  .get-involved-split {
    background: none;
  }
}

.home-header {
  background: url("/images/home-header-dual-illustration.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

@media only screen and (max-width: 780px) {
  .home-header {
    background: none;
  }
}

.join-footer-button {
  padding: 1rem 3.3rem;
}

#about-page .menu-dropdown {
  color: #fff !important;
}

.about-illustration {
  max-width: 900px !important;
  width: 900px !important;
}

@media only screen and (max-width: 768px) {
  .about-illustration {
    max-width: 100% !important;
    width: 100% !important;
  }
}

.flip-card {
  background-color: transparent;
  width: 263px;
  height: 340px;
  margin: 0 auto;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

.flip-card-back::-webkit-scrollbar {
  width: 4px;
}

.flip-card-back::-webkit-scrollbar-track {
  background: #E0E0E0;
  border-radius: 10px !important;
}

.flip-card-back::-webkit-scrollbar-thumb {
  background-color: #FF936B;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
  /* transform: rotateY(0deg); */
}

/* Style the back side */
.flip-card-back {
  background-color: #E0E0E0;
  transform: rotateY(180deg);
}

.button-overlay {
  margin-top: 0 !important;
}

.social-icon {
  margin-right: 1.2rem;
}

#about-page .mobile-dropdown {
  color: #fff;
}

h1,
h2 {
  line-height: 1.3em !important;
}

.subscribe-form input {
  border: 1px solid #CCCCCC;
  width: 100%;
  border-radius: .5rem;
  padding: .85rem;
  margin: 0 1rem 3rem 0;
}

.subscribe-form button {
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  background-color: #FF872A;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: .5rem;
  box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.08);
  transition-duration: 500ms;
}

#popup .subscribe-form input {
  border: 1px solid #CCCCCC;
  width: 100%;
  border-radius: .5rem;
  padding: .85rem;
  margin: 0 1rem 1.5rem 0;
}

#popup .subscribe-form button {
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  background-color: #FF872A;
  color: #fff;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: .5rem;
  box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.08);
  transition-duration: 500ms;
}

.subscribe-form button:hover {
  background-color: #333333;
}

.about-header {
  background: linear-gradient(181.36deg, #FF5E36 1.16%, #FFA381 98.86%);
}

.social-icons {
  display: inline-flex;
  margin: 0 auto;
}

.social-icons a {
  padding: 0 5px;
}

@media only screen and (max-width: 480px) {
  .donation-slider-cover {
    transform: translateX(-4vw);
  }
}

@media only screen and (max-width: 560px) {
  .flip-card:hover .flip-card-inner {
    transform: rotateY(0deg);
  }

  .flip-card.hover .flip-card-inner {
    transform: rotateY(180deg);
  }
}

@media only screen and (max-width: 800px) {
  .subscribe-form input {
    margin: 0 0 2rem 0;
  }
}

@media only screen and (max-height: 400px) {
  #home-map {
    max-height: 90vh;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 1.75rem;
    margin-bottom: 0;
  }

  .mapboxgl-popup {
    position: absolute !important;
    top: 1rem !important;
  }

  .mapboxgl-popup-content {
    max-height: calc(90vh - 2rem) !important;
  }
}

.lightbox-modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  background-color: black;
}

/* Modal Content */
.lightbox-modal .modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.lightbox-modal .close {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.lightbox-modal .close:hover,
.lightbox-modal .close:focus {
  color: #999;
  text-decoration: none;
}

/* Next & previous buttons */
.lightbox-modal .prev,
.lightbox-modal .next {
  width: auto;
  padding: 16px;
  margin-top: -50px;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.lightbox-modal .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.lightbox-modal .prev:hover,
.lightbox-modal .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.lightbox-modal .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.lightbox-modal .lightbox-slide-vimeo iframe {
  width: 100%;
  height: 100%;
}

.lightbox-modal img.demo {
  opacity: 0.6;
}

.lightbox-modal .active,
.lightbox-modal .demo:hover {
  opacity: 1;
}

.lightbox-modal img.hover-shadow {
  transition: 0.3s;
}

.lightbox-modal .hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.donation-modal {
  padding: 1rem !important;
}

.dollar-amount {
  min-width: 3rem;
}

.what-is-ben {
  max-width: 52rem;
}

h1,
h2 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
               Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.contact-page {
  background-color: rgb(247, 247, 247) !important;
}

/* Erick Custom */
.subscribe-form input {
    border: 2px solid #000;
}

.subscribe-form button {
    white-space: nowrap;
    margin: 0px 0px 0px 10px;
}

.subscribe-form input {
    margin: 0;
}

.msg-alert {
    padding: 0 0 0 5px;
}

.show-bullets li {
  list-style-type: disc;
  margin-left: 1.5em;
}

.story .flip-card {
  background-color: transparent;
  width: 200px;
  height: 240px;
  margin: 0 auto;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}