/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

@font-face {
  font-family: "Montser"
}

.button-overlay {
  margin-top: 0 !important;
}

.social-icon {
    margin-right: 1.2rem;
}

#about-page .mobile-dropdown {
  color: #fff;
}

h1, h2 {
  line-height: 1.3em !important;
}

.about-header {
    background-image: url("/images/about-header-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -7rem;
}

@media only screen and (max-width: 1050px) {
  .about-header {
    margin-top: -10rem;
  }
}

.donation-modal {
    padding: 1rem !important;
}

.what-is-ben {
  max-width: 52rem;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
